<div class="container">
  <div
    *ngIf="currentDiv === 'div1'"
    class="slide"
    [ngClass]="{
      'slide-out-left': isSlidingOut,
      'slide-in-left': isSlidingIn,
      'slide-out-right': isReturnOut,
      'slide-in-right': isReturnIn,
    }"
  >
    <div class="button">
      <app-perfil-egreso (esFormularioValido)="form1($event)" />
      <!-- <button (click)="morediv(2)">Siguiente</button> -->
    </div>
  </div>


  <div
  *ngIf="currentDiv === 'div2'"
  class="slide"
  [ngClass]="{
  'slide-out-left': isSlidingOut,
  'slide-in-left': isSlidingIn,
  'slide-out-right': isReturnOut,
  'slide-in-right': isReturnIn,
}"
>
  <div class="button">
    <button (click)="morediv(3)">Agregar Saber</button>
    <button (click)="return(1)">Regresar</button>
    <button (click)="morediv(6)">Finalizar</button>
  </div>
</div>

  <div
    *ngIf="currentDiv === 'div3'"
    class="slide"
    [ngClass]="{
    'slide-out-left': isSlidingOut,
    'slide-in-left': isSlidingIn,
    'slide-out-right': isReturnOut,
    'slide-in-right': isReturnIn,
  }"
  >
    <div class="button">
      <app-saber (esFormularioValido)="form2($event)"/>
      <!-- <button (click)="morediv(4)">Siguiente</button> -->
      <button (click)="return(2)">Regresar</button>
    </div>
  </div>

  <div
    *ngIf="currentDiv === 'div4'"
    class="slide"
    [ngClass]="{
  'slide-out-left': isSlidingOut,
  'slide-in-left': isSlidingIn,
  'slide-out-right': isReturnOut,
  'slide-in-right': isReturnIn,
}"
  >
    <div class="button">
      <app-atprofesionales (esFormularioValido)="form3($event)"/>
      <!-- <button (click)="morediv(5)">Siguiente</button> -->
      <button (click)="return(3)">Regresar</button>
    </div>
  </div>

  <div
    *ngIf="currentDiv === 'div5'"
    class="slide"
    [ngClass]="{
'slide-out-left': isSlidingOut,
'slide-in-left': isSlidingIn,
'slide-out-right': isReturnOut,
'slide-in-right': isReturnIn,
}"
  >
    <div class="button">
      <app-vagregado (esFormularioValido)="form4($event)" />
      <!-- <button (click)="morediv(2)">Continuar</button> -->
      <button (click)="return(4)">Regresar</button>
    </div>
  </div>

  <div
  *ngIf="currentDiv === 'div6'"
  class="slide"
  [ngClass]="{
  'slide-out-left': isSlidingOut,
  'slide-in-left': isSlidingIn,
  'slide-out-right': isReturnOut,
  'slide-in-right': isReturnIn,
}"
>
  <div class="button">
    <button (click)="morediv(7)">Agregar Competencias</button>
    <button (click)="return(2)">Regresar</button>
    <button (click)="morediv(8)">Finalizar</button>
  </div>
</div>

  <div
    *ngIf="currentDiv === 'div7'"
    class="slide"
    [ngClass]="{
'slide-out-left': isSlidingOut,
'slide-in-left': isSlidingIn,
'slide-out-right': isReturnOut,
'slide-in-right': isReturnIn,
}"
  >
    <div class="button">
      <app-competencias (esFormularioValido)="form5($event)" />
      <!-- <button (click)="morediv(2)">Continuar</button> -->
      <button (click)="return(5)">Regresar</button>
    </div>
  </div>

  <div
  *ngIf="currentDiv === 'div8'"
  class="slide"
  [ngClass]="{
  'slide-out-left': isSlidingOut,
  'slide-in-left': isSlidingIn,
  'slide-out-right': isReturnOut,
  'slide-in-right': isReturnIn,
}"
>
  <div class="button">
    <button (click)="morediv(9)">Agregar RA</button>
    <button (click)="return(6)">Regresar</button>
    <button >Finalizar</button>
  </div>
</div>

  <div
  *ngIf="currentDiv === 'div9'"
  class="slide"
  [ngClass]="{
'slide-out-left': isSlidingOut,
'slide-in-left': isSlidingIn,
'slide-out-right': isReturnOut,
'slide-in-right': isReturnIn,
}"
>
  <div class="button">
    <app-res-aprendizaje (esFormularioValido)="form6($event)" />
    <!-- <button (click)="morediv(2)">Continuar</button> -->
    <button (click)="return(6)">Regresar</button>
  </div>
</div>

</div>
