<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="id_programa">ID Programa:</label>
    <input id="id_programa" formControlName="id_programa">
    <div *ngIf="form.get('id_programa')?.errors && form.get('id_programa')?.touched">
      <small *ngIf="form.get('id_programa')?.errors?.['required']">El ID del programa es requerido</small>
    </div>
  </div>
  

  
    <div>
      <label for="a_profesional">Área Profesional:</label>
      <input id="a_profesional" type="text" formControlName="a_profesional" maxlength="300">
      <div *ngIf="form.get('a_profesional')?.errors && form.get('a_profesional')?.touched">
        <small *ngIf="form.get('a_profesional')?.errors?.['required']">El área profesional es requerida</small>
        <small *ngIf="form.get('a_profesional')?.errors?.['maxlength']">El área profesional no debe exceder 300 caracteres</small>
      </div>
    </div>
  
    <button type="submit" [disabled]="!form.valid">Enviar</button>
  </form>