<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div>
    <label class="title" for="">Componentes fundamentales</label>
  </div>

  <div>
    <label for="id_programa">ID Programa:</label>
    <input id="id_programa" formControlName="id_programa">
    <div *ngIf="form.get('id_programa')?.errors && form.get('id_programa')?.touched">
      <small *ngIf="form.get('id_programa')?.errors?.['required']">El ID del programa es requerido</small>
    </div>
  </div>

  
    <div>
      <label class="subtitle" for="areas_profesionales">Áreas Profesionales:</label>
      <textarea id="areas_profesionales" type="text" formControlName="areas_profesionales" maxlength="255"> </textarea>
      <div *ngIf="form.get('areas_profesionales')?.errors && form.get('areas_profesionales')?.touched">
        <small *ngIf="form.get('areas_profesionales')?.errors?.['required']">Las áreas profesionales son requeridas</small>
        <small *ngIf="form.get('areas_profesionales')?.errors?.['maxlength']">Las áreas profesionales no pueden tener más de 255 caracteres</small>
      </div>
    </div>
  
    <div>
      <label class="subtitle" for="tareas_profesionales">Tareas Profesionales:</label>
      <textarea id="tareas_profesionales" type="text" formControlName="tareas_profesionales" maxlength="255"> </textarea>
      <div *ngIf="form.get('tareas_profesionales')?.errors && form.get('tareas_profesionales')?.touched">
        <small *ngIf="form.get('tareas_profesionales')?.errors?.['required']">Las tareas profesionales son requeridas</small>
        <small *ngIf="form.get('tareas_profesionales')?.errors?.['maxlength']">Las tareas profesionales no pueden tener más de 255 caracteres</small>
      </div>
    </div>
  
    <div>
      <label class="subtitle" for="poblaciones_actuacion">Poblaciones de Actuación:</label>
      <textarea id="poblaciones_actuacion" type="text" formControlName="poblaciones_actuacion" maxlength="255"></textarea>
      <div *ngIf="form.get('poblaciones_actuacion')?.errors && form.get('poblaciones_actuacion')?.touched">
        <small *ngIf="form.get('poblaciones_actuacion')?.errors?.['required']">Las poblaciones de actuación son requeridas</small>
        <small *ngIf="form.get('poblaciones_actuacion')?.errors?.['maxlength']">Las poblaciones de actuación no pueden tener más de 255 caracteres</small>
      </div>
    </div>
  
    <button type="submit" [disabled]="!form.valid">Enviar</button>
  </form>