<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label for="id_programa">ID Programa:</label>
    <input id="id_programa" formControlName="id_programa">
    <div *ngIf="form.get('id_programa')?.errors && form.get('id_programa')?.touched">
      <small *ngIf="form.get('id_programa')?.errors?.['required']">El ID del programa es requerido</small>
    </div>
  </div>
  
    <div>
      <label for="t_profesional">Título Profesional:</label>
      <input id="t_profesional" type="text" formControlName="t_profesional" maxlength="300">
      <div *ngIf="form.get('t_profesional')?.errors && form.get('t_profesional')?.touched">
        <small *ngIf="form.get('t_profesional')?.errors?.['required']">El título profesional es requerido</small>
        <small *ngIf="form.get('t_profesional')?.errors?.['maxlength']">El título profesional no puede tener más de 300 caracteres</small>
      </div>
    </div>
  
    <button type="submit" [disabled]="!form.valid">Enviar</button>
  </form>