.logo{
    width: 130px;
}

.nav{
    width: 1140px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons>svg{
    width: 30px;
    margin: 5px;
}