<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!--
      <div>
      <label for="id_restultado">ID Resultado:</label>
      <select id="id_restultado" formControlName="id_restultado">
        <option value="">Seleccione un Resultado</option>
        <option *ngFor="let resultado of resultados" [value]="resultado.id">{{resultado.nombre}}</option>
      </select>
      <div *ngIf="form.get('id_restultado')?.errors && form.get('id_restultado')?.touched">
        <small *ngIf="form.get('id_restultado')?.errors?.['required']">El ID Resultado es requerido</small>
      </div>
    </div>
        <div>
      <label for="id_programa">ID Programa:</label>
      <select id="id_programa" formControlName="id_programa">
        <option value="">Seleccione un programa</option>
        <option *ngFor="let programa of programas" [value]="programa.id">{{programa.nombre}}</option>
      </select>
      <div *ngIf="form.get('id_programa')?.errors && form.get('id_programa')?.touched">
        <small *ngIf="form.get('id_programa')?.errors?.['required']">El ID del programa es requerido</small>
      </div>
    </div>
  -->



  
    <div>
      <label class="title" for="competencia">Competencia por desarrollar:</label>
      <p>Hay que recordar que:</p>
      <p>1) por cada competencia se redactan al menos 3 resultados de aprendizaje; uno por cada saber. Así que cada competencia se repite cada tres filas.</p>
      <p>2) un resultado de aprendizaje se puede repetir en más de una competencia.</p>
      <textarea id="competencia" formControlName="competencia" maxlength="600"></textarea>
      <div *ngIf="form.get('competencia')?.errors && form.get('competencia')?.touched">
        <small *ngIf="form.get('competencia')?.errors?.['required']">La competencia es requerida</small>
      </div>
    </div>
  
    <div>
      <label class="subtitle" for="tipo_saber">Tipo de Saber:</label>
      <p>se elige el saber al cual está asociado cada resultado que se va a redactar: saber, saber hacer o saber ser. Recuerde que se está desagregando la competencia y ella tiene los tres saberes, por eso se elige cada uno</p>
      <select id="tipo_saber" type="text" formControlName="tipo_saber" maxlength="10">
        <option value="">Saber</option>
        <option value="">Saber Hacer</option>
        <option value="">Saber Ser</option>
      </select>
      <div *ngIf="form.get('tipo_saber')?.errors && form.get('tipo_saber')?.touched">
        <small *ngIf="form.get('tipo_saber')?.errors?.['required']">El tipo de saber es requerido</small>
      </div>
    </div>
  
    <div>
      <label class="subtitle" for="saber_asociado">Saber Asociado:</label>
      <input id="saber_asociado" type="text" formControlName="saber_asociado" maxlength="255">
      <div *ngIf="form.get('saber_asociado')?.errors && form.get('saber_asociado')?.touched">
        <small *ngIf="form.get('saber_asociado')?.errors?.['required']">El saber asociado es requerido</small>
      </div>
    </div>
    <!--
    <div>
      <label for="taxonomia">Taxonomía:</label>
      <input id="taxonomia" type="text" formControlName="taxonomia" maxlength="10">
      <div *ngIf="form.get('taxonomia')?.errors && form.get('taxonomia')?.touched">
        <small *ngIf="form.get('taxonomia')?.errors?.['required']">La taxonomía es requerida</small>
      </div>
    </div>
  -->
    <div>
      <label class="subtitle" for="dominio_tratar">Dominio a Tratar:</label>
      <p>Se recomienda tener presente que:</p>
      <p>• El dominio cognitivo hace referencia a hechos, acontecimientos, ideas, conceptos, teorías, leyes.</p>
      <p>• El dominio procedimental es el conocimiento referente a la ejecución de estrategias, técnicas, habilidades, métodos y procedimientos; implican fuerza, rapidez y precisión; hacen referencia a saber cómo hacer y saber hacer; se entienden como actuaciones que son ordenadas y orientadas hacia la consecución de una meta; y pueden clasificarse en generales y menos generales y algorítmicos y heurísticas, de componente motriz y de componente cognitivo.</p>
      <p>• El dominio actitudinal está asociado al valor y significado que el estudiante da al conocimiento, así como a las estrategias de tipo metacognitivo que estos desarrollaran.</p>
      <select id="dominio_tratar" type="text" formControlName="dominio_tratar" maxlength="20">
        <option value="">Cognitivo Bak</option>
        <option value="">Aplicacion Bak</option>
      </select>
      <div *ngIf="form.get('dominio_tratar')?.errors && form.get('dominio_tratar')?.touched">
        <small *ngIf="form.get('dominio_tratar')?.errors?.['required']">El dominio a tratar es requerido</small>
      </div>
    </div>
  
    <div>
      <label class="subtitle" for="nivel_dominio">Nivel de Dominio:</label>
      <select id="nivel_dominio" type="text" formControlName="nivel_dominio" maxlength="20">
        <option value="">Cognitivo Bak</option>
        <option value="">Aplicacion Bak</option>
      </select>
      <div *ngIf="form.get('nivel_dominio')?.errors && form.get('nivel_dominio')?.touched">
        <small *ngIf="form.get('nivel_dominio')?.errors?.['required']">El nivel de dominio es requerido</small>
      </div>
    </div>
  
    <div>
      <label class="subtitle" for="verbo">Verbo:</label>
      <p>Para la elección de los verbos es muy importante tener articulados el perfil profesional y ocupacional porque con ellos se identifican las acciones que debe realizar el egresado en el ámbito profesional. De acuerdo con el nivel de formación (técnico, tecnólogo, profesional, especialización o maestría) las acciones son distintas, un tecnólogo podría, por ejemplo, implementar, mientras un profesional quizá esté a un nivel de diseñar.</p>
      <input id="verbo" type="text" formControlName="verbo" maxlength="25" (focus)="onFocus()" (blur)="onBlur()" (keydown)="filterSuggestions()">
      <div *ngIf="form.get('verbo')?.errors && form.get('verbo')?.touched">
        <small *ngIf="form.get('verbo')?.errors?.['required']">El verbo es requerido</small>
        <small *ngIf="form.get('verbo')?.errors?.['maxlength']">El verbo no debe exceder 25 caracteres</small>
        <small *ngIf="form.get('verbo')?.errors?.['contain']">Verbo no encontrado</small>
      </div>
      <ul *ngIf="showSuggestions" class="suggestions-list">        
        <li  *ngFor="let suggestion of filteredSuggestions" (click)="selectSuggestion(suggestion)">
        {{ suggestion }}
        </li>
      </ul>

    </div>
  
    <div>
      <label class="title" for="resultado_ap">Resultado de Aprendizaje:</label>
      <textarea id="resultado_ap" formControlName="resultado_ap" maxlength="600"></textarea>
      <div *ngIf="form.get('resultado_ap')?.errors && form.get('resultado_ap')?.touched">
        <small *ngIf="form.get('resultado_ap')?.errors?.['required']">El resultado de aprendizaje es requerido</small>
      </div>
    </div>
  

  
    <button type="submit" [disabled]="!form.valid">Enviar</button>
  </form>