<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div>
    <label class="title" for="">Diferencial</label>
  </div>

  <div>
    <label for="id_programa">ID Programa:</label>
    <input id="id_programa" formControlName="id_programa">
    <div *ngIf="form.get('id_programa')?.errors && form.get('id_programa')?.touched">
      <small *ngIf="form.get('id_programa')?.errors?.['required']">El ID del programa es requerido</small>
    </div>
  </div>
  
    <div>
      <label for="v_agregado" class="subtitle">Valor Agregado:</label>
      <textarea id="v_agregado" type="text" formControlName="v_agregado" maxlength="500"></textarea>
      <div *ngIf="form.get('v_agregado')?.errors && form.get('v_agregado')?.touched">
        <small *ngIf="form.get('v_agregado')?.errors?.['required']">El valor agregado es requerido</small>
        <small *ngIf="form.get('v_agregado')?.errors?.['maxlength']">El valor agregado no puede tener más de 500 caracteres</small>
      </div>
    </div>
  
    <button type="submit" [disabled]="!form.valid">Enviar</button>
  </form>